@model IEnumerable<CajeroMVC.Models.Cuenta>

@{
    ViewData["Title"] = "Detalle de Cuentas";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info" role="alert">
        No hay cuentas asociadas.
    </div>
}
else
{
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Cuenta Nº</th>
                <th>Titular</th>
                <th>Saldo</th>
                <th>Historial de Transacciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cuenta in Model)
            {
                <tr>
                    <td>@cuenta.NumeroCuenta</td>
                    <td>@cuenta.Titular</td>
                    <td>@cuenta.Saldo</td>
                    <td>
                        <a asp-action="Transactions" asp-route-id="@cuenta.Id" title="Ver Historial" class="text-dark">
                            <i class="bi bi-cash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
